.background-container {
  background-image: linear-gradient(#FDB298, #B176FE);
  width: 100%;
  height: 500px;
}

.calendar-container {
  width: 55%;
  margin: auto;
  position: relative;
  top: -500px;
  padding-top: 200px;
}

.weekdays-container {
  display: flex;
  margin: auto;
  justify-content: space-around;
  background: white;
}

.weekdays-container .week-day {
  color: #808080;
}

.calendar {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.calendar .week {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background: white;
}

button {
  background: white;
  border: none;
}